.footer {
  display: flex;
  justify-content: space-around;
}
.social-media a i {
  font-size: 2rem;
  padding-left: 10px;
  transition: 0.5s ease-in-out;
}

.social-media a:hover {
  color: white;
}
.footer-iconTop a {
  text-align: center;
  padding: 0.8rem;

  border-radius: 0.8rem;
  transition: 0.5s ease;
}
.footer-iconTop a:hover {
  color: white;
}
.footer-iconTop a i {
  font-size: 2.4rem;
}
