  h2 {
    text-align: center;
    margin : 3rem;
  }
  
  form {
    border: 3px solid black;
    max-width: 70%;
    margin: 1rem auto;
    padding: 10px;
    text-align: center;
  border-radius: 20px;
  background: rgb(54, 50, 50);
  }
  
  form .input-box {
   
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  form .input-box input,
   form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1rem;
    color: black;
    background: white;
    border-radius: 0.8rem;
    margin: 0.7rem 0;
  }
  
  form .input-box input {
    width: 49%;
  }
  form textarea {
    resize: none;
  }
  
 
  .btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: rgb(54, 54, 211);
    border-radius: 4rem;
    box-shadow: 0 0 2rem blue;
    font-size: 1rem;
    color: white;
    letter-spacing: 0.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s ease;
  }
  
  .btn:hover {
    box-shadow: none;
  }