
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family:"Poppins", sans-serif;
}

body {
 
  background-color: gray;
}

.img-home{
  width: 100vw;
  height: 100vh;
}
.title-home{
 position: absolute;
 top:70%;
 left:10%;
 font-size: 4rem;
 color: blue;
}
.about-content{
 margin: 20px;
  display: flex;
 
  flex-direction: column;
  align-items: center;
}
.about-content a{
  margin : 20px;
  text-decoration: none;
 }


 .services h2 {
  margin-bottom: 2rem;
}

.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.services-container .services-box {
  flex: 1 1 30rem;
  background: rgb(154, 146, 146);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.2rem solid var(--bg-color);
  transition: 0.5s ease-in-out;
  margin: 2rem;
}

.services-container .services-box:hover {
  border-color: black;
  transform: scale(1.02);
  border: 4px solid black;
  border-radius: 20px;
}

.services-box i {
  font-size: 3rem;
  color:black;
}
.services-box h3 {
  font-size: 1.5rem;
}
.services-box > ul > li {
  font-size: 1rem;
  margin: 10px;
list-style: none;
}
.services-box a {
margin-top: 20px;
  text-decoration: none;
}

.blog{
  width: 80%;
  text-align: start;
  margin : 15px;
  padding: 50px;
  border: 4px solid #000;
}
@media (max-width: 768px) {
  .footer {
    display: block;
    font: 0.8em sans-serif;
    margin: 15px;
  }
  .social-media {
    margin: 15px;
  }

  form .input-box input,
  form textarea {
   width: 100%;
   padding: 1rem;
   font-size: .8rem;
   color: black;
   background: white;
   border-radius: 0.8rem;
   margin: 0.7rem 0;
 }
}
